#movies img, #movie img{
  width:100%;
}

@media(min-width:640px){
  #movies .col-md-3 .well{
    height: 390px;
  }

  #movies .col-md-3 img{
    height:240px;
  }

  #movies img, #movie img{
    width:75%;
  }
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination{
  display: inline-block;
  padding: 10px;
  width: 100%;
  max-width: 660px;
}